In [16]:
#import library and load dataset
#import library
import pandas as pd

In [17]:
#load dataset
df=pd.read_csv('cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

Mean and Medain

In [18]:
#average\mean
df['Weight'].mean()
#note:We are calculating mean for weight 
#note:Mean- The meabn is the average set of numbers calculated by summing all values dividing by the count of values.

np.float64(2979.4137931034484)

In [19]:
#median-center value
df['Weight'].median()
#note:We are calculating median for weight 
#note:Median-The median is the middle values for the sorted list of numbers.
#note contd..:Medain:It is less sensitive to outliers compared to the mean,making it a robust measure of central tendency.

np.float64(2822.5)

In [20]:
#maximum
df['Weight'].max()
#note:We are calculating maximum value in  weight by using max ()
#note:Maximum is the highest value in a datset,representing the largest observation

np.int64(5140)

In [21]:
#minimum
df['Weight'].min()
#note:We are calculating minium value in  weight by using min ()
#note:Minimum is the lowest value in a datset,representing the smallest observation

np.int64(1613)

Sum and count

In [22]:
#sum
df['Weight'].sum()
#note:It ads all the values in weight column and give the result.
#note:Sum-Sum calculats the total value of numerical data in a dataset by adding all values together

np.int64(1209642)

In [23]:
#count
df['Weight'].count()
#note:It counts all the values in weight column and give the result.
#note:Count determines the number of non-null observations in a dataset providing  a tally of how many values exist in a specified context

np.int64(406)

Standard deviation and Mode

In [24]:
#standard deviation
df['Weight'].std()
#note:we are calculating standard devaition for weight column
#note:Standard deviation measures the dispersion or spread of data points around the mean,indicating how much values deviate from the average values

np.float64(847.0043282393509)

In [25]:
#mode-most frequent value
df['Origin'].mode()
#note:we are calculating most frequent value for weight column by using mode function
#note:Mode-Mode identifies the most frequently occuring value or values in a dataset,providing insights into the central tendency where values cluster the most

0    US
Name: Origin, dtype: object

Product and quantile

In [26]:
#product
df['Cylinders'].product()
#note:we are calculating product in cylinders column
#note:Product-The product computes teh multiplication of alal values in a dataset,resulting in the cummulative product

np.float64(4.2378626510690295e+290)

In [27]:
#quantile
df['Cylinders'].quantile()
#note:we are calculating quantile in cylinders column
#note:QUANTILE-divides a datset into intervals of equal probability, with each interval represnting a fraction of the data,such as quartiles or percentiles

np.float64(4.0)

In [31]:
#combine aggregate functions
df['Cylinders'].agg(['mean','median','max','min'])
#note:Aggregate function combines all the function which we evaluate seperately before and give the result
#note:mode doesnt support because the 'cylinders'columns does not have frequent values

mean      5.469136
median    4.000000
max       8.000000
min       3.000000
Name: Cylinders, dtype: float64