Create a dataframe with missing values.
We are using numpy library to represent missing\null values here

In [1]:
import pandas as pd
import numpy as np
#note: to handle mising values you must import both pandas and numpy
#note:You doesn't need to install numpy because while installing pandas it automatically install numpy too...because numpy is the application and it is inside the pandas library

In [2]:
df=pd.DataFrame([[10,np.nan],[20,15],[87,np.nan],[np.nan,20]])
df.columns = ['A','B']
df
#output::nan is nothing but to understand that the value is missed
#note:'np.nan' in code is to mention the missing values

      A     B
0  10.0   NaN
1  20.0  15.0
2  87.0   NaN
3   NaN  20.0

In [3]:
#find missing values
df.isna()
#note:True represents the missing values
#note:isna()-is null it means

       A      B
0  False   True
1  False  False
2  False   True
3   True  False

In [5]:
#To identify total count of missing values
df.isna().sum()
#note: here '.' represents the next process we are doing in the same line
#common note:'.' is used to do the next process in same line for any program
#note:isna()-is null it means
#output:It represents the column A has only 1 missing value and column B has 2 missing values

A    1
B    2
dtype: int64

In [9]:
#drop missing values
#handling missing values
#Firstly,create a dataframe with missing values 
df=pd.DataFrame([[10,np.nan],[20,15],[87,np.nan],[np.nan,20]])
df.columns = ['A','B']
df

      A     B
0  10.0   NaN
1  20.0  15.0
2  87.0   NaN
3   NaN  20.0

In [7]:
#Dropping rows where the cells with null or missing values
df.dropna()
#note:dropna- dropping null 
#note:By using dropna function we can eliminate duplicate values

      A     B
1  20.0  15.0

In [10]:
#Fill missing values
#Firstly I read the table 
df=pd.DataFrame([[10,np.nan],[20,15],[87,np.nan],[np.nan,20]])
df.columns = ['A','B']
df

      A     B
0  10.0   NaN
1  20.0  15.0
2  87.0   NaN
3   NaN  20.0

In [16]:
#Filling the missing values
df.fillna(value={'A':100,'B':200})
#note:While giving value give in a dictioanary
#note:fillna =fill null
#note:We are filling values by assining to particular column

       A      B
0   10.0  200.0
1   20.0   15.0
2   87.0  200.0
3  100.0   20.0

In [1]:
df.fillna(calue={3:100,0:200})

NameError: name 'df' is not defined