In [11]:
#import library and load dataset
#import library
import pandas as pd

In [21]:
#load dataset
df=pd.read_csv('cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [22]:
#data types and its memory usage
df.dtypes
#output:To view the datatype of each column

Car              object
MPG             float64
Cylinders       float64
Displacement    float64
Horsepower      float64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [23]:
#to check the memory usage for each column
df.memory_usage(deep=True)

Index             132
Car             29774
MPG              3248
Cylinders        3248
Displacement     3248
Horsepower       3248
Weight           3248
Acceleration     3248
Model            3248
Origin          24483
dtype: int64

In [24]:
#to check memory in kb
df.memory_usage(deep=True).sum()/1024

np.float64(75.3173828125)

In [25]:
#converting a data type of a feature
#converting a data type of the single feature
df['MPG']=df['MPG'].astype('float16')
df.dtypes 
#output:Now we are converting the float64(float datatype with 64 bits)to float16(float datatype with 16 bits) in the only column of 'MPG'

Car              object
MPG             float16
Cylinders       float64
Displacement    float64
Horsepower      float64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [26]:
#after converting to float16 datatype we are checking the memory usage
df.memory_usage(deep=True)

Index             132
Car             29774
MPG               812
Cylinders        3248
Displacement     3248
Horsepower       3248
Weight           3248
Acceleration     3248
Model            3248
Origin          24483
dtype: int64

In [27]:
#converting a data type of all features
#converting a data type of the multiple columns
df=df.astype({
    'Car':'string',
    'MPG':'float16',
    'Cylinders':'float16',
    'Displacement':'float16',
    'Horsepower':'float16',
    'Weight':'float16',
    'Acceleration':'float16',
    'Model':'category',
    'Origin':'category'
})

In [19]:
#after converting to float16 datatype we are checking the memory usage
df.memory_usage(deep=True)
#output:Now it is reduced the memory usage

Index             132
Car             29774
MPG               812
Cylinders         812
Displacement      812
Horsepower        812
Weight            812
Acceleration      812
Model            1066
Origin            698
dtype: int64

In [20]:
#memory in kb
df.memory_usage(deep=True).sum()/1024
#output:You can able to see the reduced meemory usage than from the original dataset

np.float64(35.685546875)